<footer class="footer_section ff_nhg">
    <div class="fs_flex">
        <div class="fsf_top">
            <div class="header_flex">
                <h1>Kamui.<span>Me</span></h1>
                <h2>By Yashwanthkumar</h2>
            </div>
            <form>
                <h4><span>Sign up for my</span> newsletter and blogs!</h4>
                <div class="input_flex">
                    <input type="email" name="email" id="email" placeholder="Your mail ID here..">
                    <button type="button">
                        <i class="fi fi-ss-envelope-open"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="divider"></div>
        <div class="fsf_bottom">
            <div class="link_container">
                <div class="link_flex">
                    <h5>Pages</h5>
                    <div class="item_flex">
                        <a>Home</a>
                        <a>About</a>
                        <a>Portfolio</a>
                        <a>Skills</a>
                        <a>Blogs</a>
                        <a>Contact</a>
                    </div>
                </div>
                <div class="link_flex">
                    <h5>Quick Links</h5>
                    <div class="item_flex">
                        <a>Get my CV</a>
                    </div>
                </div>
                <div class="link_flex">
                    <h5>Documents</h5>
                    <div class="item_flex">
                        <a>Privacy Policy</a>
                        <a>Terms & Conditions</a>
                        <a>Site Map</a>
                    </div>
                </div>
                <div class="link_flex">
                    <h5>Contact</h5>
                    <div class="item_flex">
                        <a>+91 8825489563</a>
                        <a>{{'kamui.me@gmail.com'}}</a>
                        <a>Chennai, Tamilnadu - 601301</a>
                        <a>INDIA</a>
                    </div>
                </div>
            </div>
            <div class="pic_container">
                <div class="pic">
                    <img src="assets/images/about/me.png" alt="">
                </div>
            </div>
        </div>
        <p class="attribute">
            &copy; 2025 Kamui.me. All Rights Reserved.
        </p>
    </div>
</footer>