<section class="about_section">
  <div class="as_slider_overlay">
    <div class="c c1 ff_nhg">
      <h3><span>Y</span>ashwanth<br /><span>K</span>umar</h3>
      <img src="assets/images/about/me.jpg" alt="Yashwanthkumar" />
      <p class="ff_mb">
        Driven by a self-motivated spirit, I thrive on taking ownership and
        pursuing my goals independently. My passion for coding led me to carve a
        career as a software engineer. For me, coding is more than just
        work—it’s a source of joy and creativity.
      </p>
    </div>
    <div class="c c2 ff_nhg">
      <h3>
        <span>S</span>tar <span>W</span>ars<br />
        <span>F</span>reak
      </h3>
      <div class="img_container ic1"></div>
      <div class="img_container"></div>
    </div>
    <div class="c c3 ff_nhg">
      <h3>
        <span>H</span>ard <span>C</span>ore<br />
        <span>G</span>amer
      </h3>
      <div class="img_container ic3"></div>
      <p class="ff_mb">
        Beyond coding, I'm a die-hard Star Wars fan, immersing myself in its
        rich lore and epic tales of the galaxy far, far away. I'm also a
        hardcore gamer, exploring virtual worlds and battling challenges to keep
        my mind sharp and my spirit adventurous. These two hobbies fuel my
        creativity and keep me balanced in life and work. Whether it's mastering
        a tough game level or debugging tricky code, I'm always ready to rise to
        the challenge. Welcome to my corner of the web!
      </p>
    </div>
  </div>
</section>
