<section class="about_section">
    <div class="as_slider_overlay">
        <div class="c c1 ff_nhg">
            <h3>
                <span>Y</span>ashwanth<br><span>K</span>umar
            </h3>
            <img src="assets/images/about/me.png" alt="Yashwanthkumar">
            <p class="ff_mb">
                Driven by a self-motivated spirit, I thrive on taking ownership and pursuing my goals independently.
                My passion for coding led me to carve a career as a software engineer. For me, coding is more than just
                work—it’s a source of joy and creativity.
            </p>
        </div>
        <div class="c c2 ff_nhg">
            <h3>
                <span>S</span>tar <span>W</span>ars<br>
                <span>F</span>reak
            </h3>
            <div class="img_container ic1"></div>
            <div class="img_container"></div>
        </div>
    </div>
</section>