<section class="menu_section">
  <div class="ms_c">
    <div class="enc"></div>
  </div>
  <div class="ms_c">
    <div class="enc">
      <h1 role="button" class="ff_nhg active">Home</h1>
    </div>
  </div>
  <div class="ms_c">
    <div class="enc">
      <h1 role="button" class="ff_nhg">Skills</h1>
    </div>
  </div>
  <div class="ms_c">
    <div class="enc">
      <h1 role="button" class="ff_nhg">Portfolio</h1>
    </div>
  </div>
  <div class="ms_c">
    <div class="enc">
      <h1 role="button" class="ff_nhg">Blogs</h1>
    </div>
  </div>
  <div class="ms_c ff_nhg">
    <div class="enc">
      <div class="mini_buttons" role="button">
        <h4>Get My CV</h4>
        <div class="border"></div>
      </div>
      <div class="mini_buttons" role="button">
        <h4>Contact</h4>
        <div class="border"></div>
      </div>
      <div class="mini_buttons" role="button">
        <p>Mail me at</p>
        <a href="mailto:kamui.me@gmail.com">{{ "kamui.me@gmail.com" }}</a>
        <div class="border"></div>
      </div>
    </div>
  </div>
  <div class="ms_c null">
    <div class="enc">
      <div class="social_icons">
        <i class="fi fi-brands-instagram"></i>
        <i class="fi fi-brands-discord"></i>
        <i class="fi fi-brands-linkedin"></i>
        <i class="fi fi-brands-whatsapp"></i>
        <i class="fi fi-brands-twitter-alt-square"></i>
        <i class="fi fi-br-at"></i>
        <i class="fi fi-brands-facebook-messenger"></i>
      </div>
    </div>
  </div>
</section>
