<section class="kamui_lander" (mousewheel)="flipAll()">
  <div class="kl_wrap" [ngClass]="{ kl_wrap_mini: klBoxes[0].length === 3 }">
    <ng-container *ngFor="let klBoxL1 of klBoxes; let i = index">
      <div
        *ngFor="let klBoxL2 of klBoxL1"
        class="kl_wrap_box"
        #klBox
        data-hover="false"
        data-turn="false"
        [style]="{
          '--sp-pos-x': klBoxL2,
          '--sp-pos-y': i
        }"
        (mouseenter)="onItemHover(klBox)"
        (touchstart)="onItemHover(klBox)"
      >
        <div class="box_component" data-box-component="front"></div>
        <div class="box_component" data-box-component="back"></div>
      </div>
    </ng-container>
  </div>
</section>
