.portfolio_section {
  background-color: var(--main-1);
  color: var(--main-3);
  position: relative;
  overflow: hidden;

  .c {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .bullet_path {
      background-color: var(--main-3);
      position: absolute;
      width: 0.2rem;
      height: 200vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    ng-lottie {
      opacity: 0.65 !important;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    h1 {
      font-size: 7rem;
      z-index: 3;
    }
  }
}

span {
  color: var(--main-2);
}