.portfolio_section {
    background-color: var(--main-1);
    position: relative;
    height: 300vh;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 8rem;
        background-image: linear-gradient(var(--main-1), transparent);
    }

    canvas {
        width: 100%;
        height: 100vh;
    }
}