<section class="portfolio_section ff_nhg">
    <div class="ps_c">
        <div class="c left">
            <div class="scrub_container">
                <h1>THE GHOST OF FE * THE GHOST OF FE * THE GHOST OF FE</h1>
                <h1 style="align-self: flex-end;">THE GHOST OF FE * THE GHOST OF FE * THE GHOST OF FE</h1>
                <h1>THE GHOST OF FE * THE GHOST OF FE * THE GHOST OF FE</h1>
                <h1 style="align-self: flex-end;">THE GHOST OF FE * THE GHOST OF FE * THE GHOST OF FE</h1>
                <h1>THE GHOST OF FE * THE GHOST OF FE * THE GHOST OF FE</h1>
                <img src="assets/images/portfolio_sb.avif" alt="Scrub background">
            </div>
            <div class="wbi">
                <h5 class="ff_mbb">THE <span>GHOST</span> OF FE</h5>
                <p class="ff_mb">A personal portfolio site made with simple HTML, CSS and JS. Framework used is Angular. Used GSAP to animate stuffs. So what's so special about it? Well, For a website that has much complexity in design, there is a very minimal media query...say about 10 lines max!</p>
            </div>
        </div>
        <div class="c right">
        </div>
    </div>
</section>