<div class="main">
  <header>
    <h3 class="ff_gr">KAMUI.<span>me</span></h3>
  </header>

  <div class="sidebar">
    <div class="menu-box" role="button">
      <i class="fi fi-rs-tally-3"></i>
      <p>Menu</p>
    </div>
    <div class="social-icons">
      <i class="fi fi-brands-instagram"></i>
      <i class="fi fi-brands-discord"></i>
      <i class="fi fi-brands-linkedin"></i>
    </div>
  </div>
  <!-- <app-splash></app-splash> -->
  <app-home></app-home>
   <!-- <app-logo></app-logo> -->
</div>
