.main_wrapper {
  position: relative;
  width: 100dvw;
}

.main_revealer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--main-3);
  z-index: 100000;
  pointer-events: none;
}

.main {
  width: 100dvw;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--main-3);
  background-color: var(--main-1);

  &::-webkit-scrollbar {
    display: none;
  }
}
