.main {
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--main-3);
  background-color: var(--main-1);

  &::-webkit-scrollbar {
    display: none;
  }
}
