<section class="designation_section" #sceneHost>
  <h1 class="ff_nhg" aria-label="Senior Software Engineer">
    <span class="accent">S</span><span>e</span><span>n</span><span>i</span><span>o</span><span>r</span><span>&nbsp;</span><span class="accent">S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span>
    <br />
    <span class="accent overlay">E</span><span class="overlay">n</span><span class="overlay">g</span><span class="overlay">i</span><span class="overlay">n</span><span class="overlay">e</span><span class="overlay">e</span><span>r</span>
  </h1>
</section>
