<footer class="footer">
  <img src="assets/images/footer/samurai_footer.svg" alt="Footer Logo" />
  <div class="footer_top">
    <div class="ft_left ff_mb">
      <h4 appTextReveal>
        All I need is a breakthrough and meaningful collaboration in AI and
        technology. Let’s connect.
      </h4>
      <app-button
        text="Get In Touch"
        textColor="var(--main-1)"
        arrowColor="var(--main-1)"
      ></app-button>
    </div>
    <div class="ff_right">
      <div class="ffr_left ff_nhg">
        <h4><span>S</span>kills</h4>
        <h4><span>P</span>ortfolio</h4>
        <h4><span>B</span>logs</h4>
      </div>
      <div class="ffr_right ff_mb">
        <div class="ffrr_box">
          <p>Chat with me:</p>
          <h4>_yash_itaxxci</h4>
        </div>
        <div class="ffrr_box">
          <p>Write to me:</p>
          <h4>{{ "yash.kamui.me@gmail.com" }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_extra ff_mb">
    <h4>&copy; 2026 Kamui.me. All rights reserved.</h4>
    <h4>Linked In</h4>
  </div>
  <div class="kamui_foot">
    <h1 class="ff_gr"><span>K</span>AMUI.<span>ME</span></h1>
  </div>
</footer>
