.menu_section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  color: var(--main-1);

  .ms_c {
    position: relative;

    .enc {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      padding-left: 15rem;
      gap: 15rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      background-color: var(--main-3);
      border-bottom: 0.1rem solid var(--border-3);

      h1 {
        font-size: 10rem;
        font-weight: 100;
        cursor: pointer;
        transition: color 300ms ease;

        &:hover,
        &.active {
          color: var(--main-2);
        }
      }

      .mini_buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        cursor: pointer;

        h4 {
          font-size: 2rem;
        }

        p,
        a {
          font-size: 1.2rem;
          color: inherit;
          text-decoration: none;
        }

        a {
          margin-top: -0.5rem;
        }

        .border {
          width: 100%;
          height: 0.2rem;
          background-color: var(--main-2);
        }
      }
    }

    &.null .enc {
      justify-content: space-between;
      background-color: var(--main-1);
      border-bottom: 0.1rem solid var(--border-1);

      .social_icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3.5rem;
        color: var(--main-3);

        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
