<section class="testimonials_section ff_nhg">
    <div class="testi_title">
        <h1>Honest <span>testimonies</span> about me from collaborators!</h1>
    </div>
    <div class="testi_content">
        <div class="testi_card testi_card_1">
            <i class="fi fi-ss-quote-right"></i>
            <img src="assets/images/testimony/rishi.png" alt="Rishi client">
            <h5 class="ff_mb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis.</h5>
            <div class="client_info">
                <h5 class="ff_mbb">Rishi V</h5>
                <p class="ff_mb">Founder of ChadTrader &trade;</p>
            </div>
        </div>
        <div class="testi_card testi_card_2">
            <i class="fi fi-ss-quote-right"></i>
            <img src="assets/images/testimony/rishi.png" alt="Rishi client">
            <h5 class="ff_mb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis.</h5>
            <div class="client_info">
                <h5 class="ff_mbb">Rishi V</h5>
                <p class="ff_mb">Founder of ChadTrader &trade;</p>
            </div>
        </div>
    </div>
    <div class="testi_content">
        <div class="testi_card testi_card_1">
            <i class="fi fi-ss-quote-right"></i>
            <img src="assets/images/testimony/rishi.png" alt="Rishi client">
            <h5 class="ff_mb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis.</h5>
            <div class="client_info">
                <h5 class="ff_mbb">Rishi V</h5>
                <p class="ff_mb">Founder of ChadTrader &trade;</p>
            </div>
        </div>
        <div class="testi_card testi_card_2">
            <i class="fi fi-ss-quote-right"></i>
            <img src="assets/images/testimony/rishi.png" alt="Rishi client">
            <h5 class="ff_mb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis.</h5>
            <div class="client_info">
                <h5 class="ff_mbb">Rishi V</h5>
                <p class="ff_mb">Founder of ChadTrader &trade;</p>
            </div>
        </div>
    </div>
</section>