*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.theme_default {
  --main-2: #f5193a;
  --main-1: #131213;
  --main-3: #f7f7f7;
}
