@font-face {
  font-family: "Giant-Robots";
  font-style: normal;
  font-weight: normal;
  src: local("Giant-Robots"), url("../fonts/GiantRobots.ttf") format("truetype");
}

.ff_gr {
    font-family: "Giant-Robots", sans-serif;
}

@font-face {
  font-family: "Neue Hass Grotesk";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Hass Grotesk"), url("../fonts/neue-hass-grotesk.woff2") format("truetype");
}

.ff_nhg {
    font-family: "Neue Hass Grotesk", sans-serif;
}