@font-face {
  font-family: "Giant-Robots";
  font-style: normal;
  font-weight: normal;
  src: local("Giant-Robots"), url("../fonts/GiantRobots.ttf") format("truetype");
}

.ff_gr {
    font-family: "Giant-Robots";
}