@font-face {
  font-family: "Giant-Robots";
  font-style: normal;
  font-weight: normal;
  src: local("Giant-Robots"), url("../fonts/GiantRobots.ttf") format("truetype");
}

.ff_gr {
  font-family: "Giant-Robots", sans-serif;
}

@font-face {
  font-family: "Neue Hass Grotesk";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Hass Grotesk"),
    url("../fonts/NeueHassGrotesk.woff2") format("truetype");
}

.ff_nhg {
  font-family: "Neue Hass Grotesk", sans-serif;
}

@font-face {
  font-family: "Mori Book";
  font-style: normal;
  font-weight: normal;
  src: local("Mori Book"), url("../fonts/MoriBook.ttf") format("truetype");
}
@font-face {
  font-family: "Mori Book Bold";
  font-style: bold;
  src: local("Mori Book Bold"), url("../fonts/MoriBookBold.ttf") format("truetype");
}

.ff_mb {
  font-family: "Mori Book", sans-serif;
}
.ff_mbb {
  font-family: "Mori Book Bold", sans-serif;
}
