body.theme_default {
  --main-2: #f51a3a;
  --main-2a: #ca3c3c;
  --main-1: #000;
  --main-1a: rgb(28, 28, 28);
  --main-3: #fff;
  --border-1: #222; 
  --border-3: #e5e5e5; 
}

body.theme_light {
  --main-2: #f51a3a;
  --main-2a: #ca3c3c;
  --main-1: #fff;
  --main-1a: #1f1f1f;
  --main-3: #000;
  --border-3: #222; 
  --border-1: #e5e5e5; 
}
