<section class="user_consent_section">
  <img
    src="assets/images/footer/samurai_footer.svg"
    alt=""
    aria-hidden="true"
  />
  <div class="ucsc_grid">
    <div class="ucsc ucsc_1 ff_mb">
      <p>Recommended for Performance</p>
      <h3>Consent for local caching for faster experience!</h3>
    </div>
    <div class="ucsc ucsc_2 ff_mb">
      <p>Thanks to Flaticon</p>
      <img src="assets/images/flaticon.png" alt="Flat Icon" />
    </div>
    <div class="ucsc ucsc_3 ff_mb">
      <p>Thanks to Sketchfab</p>
      <img src="assets/images/sketchfab.svg" alt="Sketchfab Icon" />
    </div>
    <div class="ucsc ucsc_4 ff_mb">
      <div class="top">
        <p>A portfolio site</p>
        <h3>Crafted by Passion</h3>
      </div>
      <div class="bottom">
        <p class="ff_mb">
          Just a curious mind who loves to code and finds joy in results.
        </p>
        <h1 class="ff_gr"><span>K</span>AMUI.<span>ME</span></h1>
      </div>
    </div>
    <div class="ucsc ucsc_5" role="button" (click)="giveConsent(true)">
      <p class="ff_mb">Continue to the site</p>
    </div>
  </div>
</section>
