<section class="home_section">
  <div class="hs_tilter">
    <div class="hs hs1">
      <div class="hs_enc">
        <app-logo></app-logo>
      </div>
    </div>
  </div>
  <div class="feature-slider">
    <div class="feature-content-flex ff_nhg">
      <h5 class="fcf-h5">{{featureTitle}}</h5>
      <h1 class="fcf-h11">{{featureContentH11}}</h1>
      <h1 class="fcf-h12">{{featureContentH12}}</h1>
    </div>
    <div class="slider-indicator-flex">
      <div class="si si1"></div>
      <div class="si si2"></div>
      <div class="si si3"></div>
      <div class="si si4"></div>
    </div>
  </div>
  <div class="attribute ff_nhg">
    <p>Website by</p>
    <h5>Yashwanth</h5>
    <div class="border"></div>
  </div>
  <div class="short-video ff_nhg">
    <h5>Watch the video</h5>
    <div class="watch-button" role="button">
      <h2>Watch</h2>
      <i class="fi fi-ss-play-circle"></i>
    </div>
    <div class="border"></div>
  </div>
  <canvas id="home-gradient-canvas" data-transition-in ></canvas>
</section>